<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Actors', actors_path %> |
<%= link_to 'Movies', movies_path %> |
<%= link_to 'Performances', acted_ins_path %> |
<%= link_to 'Six Degrees to Kevin Bacon', new_kevin_bacon_search_path %>

<%= yield %>

</body>
</html>
